<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://use.fontawesome.com/66b700c259.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="script.js"></script>

</head>

<body>
    <img id="logoBak" src="static/logobak.png">
    <img id="logoFram" src="static/logofram.png">
    <h2 id="logoTekst">MACROTASKER</h2>
    <div id="dashboardBody">
    <header>
        <img src="static/log.png" width="20px" height="20px"/>
        <p class="header-title">Dashbord</p>
    </header>
    <div id="wheel-contain">
        <div id="card-contain">
            {{range .Wheel}} {{template "card" .}} {{ end }}
        </div>
       
    </div>
    <div id="add-contain">
        <div id="add-button" onclick="addWheelForm()">
            <span class="index-fa fa fa-plus-circle"></span>
        </div>
        <div id="wheel-form">
            <form action="">
                <label for="title">Title: </label>
                <input name="title" id="title" type="text" /><br/>
                <input type='text' id="custom" />
                <button id="addWheelBtn" onclick="addWheel()" type="button">Add wheel</button>
            </form>
        </div>
       
    </div>

    <hr class="page-divider">

    <footer></footer>
    </div>
</body>

</html>