@import url('https://fonts.googleapis.com/css?family=Cinzel');
* {
    font-family: 'Cinzel', serif;
}

body {
    background-color: #100e11;
}

h1 {
    color: white;
    text-shadow: 1px 0 0 orange, -1px 0 0 orange, 0 1px 0 orange, 0 -1px 0 orange, 1px 1px orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange;
    font-size: 3em;
}

#spillbrett {
    width: 1200px;
    height: 550px;
    background-color: #100e11;
    box-shadow: 0px 0px 30px 5px #ee7600;
    border-radius: 20px;
    position: relative;
    margin: auto;
}

#title {
    text-align: center;
}

#startbutton {
    box-shadow: 0px 0px 30px 5px #ee7600;
    text-shadow: 0px 0px 3px #ee7600;
    font-weight: bold;
    font-size: 2em;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-top: -100px;
    position: relative;
    top: 45%;
    left: 50%;
}

#enter {
    color: white;
    position: absolute;
    left: 500px;
    top: 90px;
    width: 200px;
    text-align: center;
    font-size: 1.85em;
}

#instr{
    color: white;
    position: absolute;
    left: 500px;
    top: 350px;
    width: 200px;
    text-align: center;
    font-size: 0.9em;
    font-style: 
}

input {
    position: absolute;
    display: block;
    height: 20px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

#player1name {
    top: 150px;
}

#player2name {
    top: 180px;
}

.card,
.valgt,
.rett {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #ee7600;
    box-shadow: 0px 0px 20px 2px #ee7600;
    background-color: white;
    float: left;
    margin: 5px;
    text-align: center;
    z-index: 3;
}

.black{
    width: 100px;
    height: 100px;
    background-color: #100e11;
    float: left;
    margin: 5px;
    text-align: center;
}

.cardimg {
    height: 97px;
    max-width: 100px;
    display: none;
}

p {
    visibility: hidden;
    color: antiquewhite;
    font-size: 1.8em;
    position: relative;
    margin: 0;
}

h5 {
    color: antiquewhite;
    font-size: 1.8em;
}

#nameholder {
    position: absolute;
    text-align: center;
    width: 258px;
    margin-top: 30px;
}

#nameholder2 {
    position: absolute;
    text-align: center;
    width: 258px;
    margin-top: 30px;
    right: 0px;
}

#nameholder p,
#nameholder2 p {
    padding-bottom: 10px;
}

#trackerdiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#trackerdiv p{
    display: inline-block;
}

#time{
    padding-right: 150px;
    width: 100px;
}


#only {
    font-style: italic;
}

#line {
    position: absolute;
    top: 55px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    z-index: -1;
}

#line hr{
    border-color: #ee7600;
    box-shadow: 0px 0px 25px 2px white;
}

#endscreen {
    position: absolute;
    top: 150px;
    left: 420px;
    width: 600px;
    z-index: 1;
    display: none;
    text-align: center;
}
